<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.cblformatter.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perspective"
            class="com.cblformatter.Perspective"
            id="CBLFormatter.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.cblformatter.views.FilesView"
            id="CBLFormatter.FilesView"
            name="FilesView"
            restorable="true">
      </view>
      <view
            class="com.cblformatter.views.OptionView"
            id="CBLFormatter.OptionView"
            name="OptionView"
            restorable="true">
      </view>
      <view
            class="com.cblformatter.views.ProcessView"
            id="CBLFormatter.ProcessView"
            name="ProcessView"
            restorable="true">
      </view>
   </extension>

</plugin>
