<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.views">
      <view
            class="com.cblformatter.views.FilesView"
            id="CBLFormatter.FilesView"
            name="FilesView"
            restorable="true">
      </view>
      <view
            class="com.cblformatter.views.SettingsView"
            id="CBLFormatter.OptionView"
            name="OptionView"
            restorable="true">
      </view>
      <view
            class="com.cblformatter.views.ProcessView"
            id="CBLFormatter.ProcessView"
            name="ProcessView"
            restorable="true">
      </view>
      <view
            class="com.cblformatter.views.EditView"
            id="CBLFormatter.EditView"
            name="EditView"
            restorable="true">
      </view>
   </extension>
   
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.cblformatter.handler.ImportFileHandler"
            description="read the file and fill the model with lines"
            id="SORCA.importFile"
            name="SORCA.importFile">
      </command>
   </extension>

</plugin>
