<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sorca.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perspective"
            class="com.sorca.Perspective"
            id="CBLFormatter.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cblformatter.application.application"
            name="sorca">
         <property
               name="appName"
               value="sorca">
         </property>
      </product>
   </extension>
   <extension
         id="sorca"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cblformatter.application.application"
            name="sorca">
         <property
               name="appName"
               value="sorca">
         </property>
      </product>
   </extension>
   <extension
         id="sorca_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cblformatter.application.application"
            name="SORCA">
         <property
               name="appName"
               value="SORCA">
         </property>
      </product>
   </extension>
   <extension
         id="SORCAproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sorca.application.application"
            name="SORCA">
         <property
               name="appName"
               value="SORCA">
         </property>
      </product>
   </extension>
   <extension
         id="productTUT"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sorca.application.application"
            name="SORCA">
         <property
               name="appName"
               value="SORCA">
         </property>
      </product>
   </extension>
  
</plugin>
